@import url('https://fonts.googleapis.com/css?family=Nunito:400,700&display=swap');

html,
body {
    padding: 0;
    margin: 0;
}

html {
    font-family: 'Nunito', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

body {
    background: #f5f5f5;
}

header {
    background: #2a216b;
    padding: 10px;
}

header img {
    width: auto;
    height: 100%;
    margin: 0 auto;
    display: block;
    max-height: 60px;
}

#app {
    padding-top: 50px;
    text-align: center;
}
